[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.3"
requests = "2.26.0"
numpy = "1.21.4"
pillow = "8.4.0"
tensorflow-cpu = "2.7.0"
tensorflow-hub = "0.12.0"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python app.py"
test = "python localtest.py"
